@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #1D1D1D;
}